EXPO_PUBLIC_SHOPIFY_DOMAIN=stooping-club-berkeley.myshopify.com
EXPO_PUBLIC_STOREFRONT_TOKEN=replace_me
EXPO_PUBLIC_CUSTOMER_ACCOUNT_TOKEN=replace_me
EXPO_PUBLIC_API_URL=https://api.stoopingclub.example
EXPO_PUBLIC_API_KEY=change-me-shared-secret
